* {
  font-size: 44px;
}

.slider {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #555;
}
.slider .right-panel {
  position: fixed;
  right: 0;
  height: 600px;
  z-index: 5;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.slider .btn-panel .step-btn {
  width: 50px;
  height: 50px;
  background-color: #fff;
}
.slider .btn-panel .step-btn.selected {
  background-color: red;
}
.slider .btn-panel .step-btn:hover {
  background-color: blue;
}
.slider .img {
  background-position: center;
  background-size: cover;
}
.slider .left {
  top: 0;
  position: absolute;
  overflow: hidden;
  width: 100%;
  transition: all .7s;
}
.slider .right {
  bottom: 0;
  position: absolute;
  overflow: hidden;
  width: 50%;
  left: 50%;
  z-index: 2;
  transition: all .7s;
}
.slider .right .img {
  margin-left: -100%;
}
