
/* GENERAL */
@import url(https://fonts.googleapis.com/css?family=Rubik:700);

* {
  font-family: 'Rubik', sans-serif;
  font-size: 44px;
  background-color: #6FB7E9;
  text-shadow: 0.3px 0.3px #9896A4;
}
::selection {
  background: #FAE03C; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #FAE03C; /* Gecko Browsers */
}
/* Scroll Positions */
.scroller {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  color: white;
}
.scroller .left {
  top: 0;
  position: absolute;
  overflow: hidden;
  width: 50%;
  transition: all .7s;
}
.scroller .right {
  bottom: 0;
  position: absolute;
  overflow: hidden;
  width: 50%;
  left: 50%;
  z-index: 2;
  transition: all .7s;
}

/* Scroll Menu */

.scroller .right-panel {
  background-color: transparent;
  color: black;
  position: fixed;
  right: 0;
  height: 100%;
  z-index: 5;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.scroller .btn-panel .step-btn {
  width: 50px;
  height: 50px;
  background-color: #fff;
}
.scroller .btn-panel .step-btn.selected {
  background-color: red;
}
.scroller .btn-panel .step-btn:hover {
  background-color: blue;
}

/* CSS TO CENTER THE EXAMPLES */
.left .page-1, .left .page-2{
  text-align: right; 
  padding-right: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.right .page-1, .right .page-2{ 
  padding-left: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
 
}
.page-2{
  background-color: #45B8AC;
}