
/* GENERAL */
@import url(https://fonts.googleapis.com/css?family=Rubik:700);

* {
  font-family: 'Rubik', sans-serif;
  font-size: 44px;
  background-color: red;
  text-shadow: 0.3px 0.3px #9896A4;
}
::selection {
  background: #FAE03C; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #FAE03C; /* Gecko Browsers */
}
/* Scroll Positions */
.scroller {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  color: white;
  display:flex;
}
.scroller .left {
  top: 0;
  position: absolute;
  overflow: hidden;
  width: 50%;
  transition: all .7s;



}
.scroller .right {
  bottom: 0;
  position: absolute;
  overflow: hidden;
  width: 50%;
  left: 50%;
  transition: all .7s;

}




/* DOTS Menu */

.dotstyle{
  background-color: transparent;
  color: black;
  position: fixed;
  right: 0;
  height: 100%;
  z-index: 5;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.dotstyle ul {
  background-color: transparent;
}

.dotstyle li {
  position: relative;
  display: block;
  margin: 20px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-color: transparent;

}

.dotstyle li a {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  background-color: #fff;
  background-color: rgba(255,255,255,0.3);
  cursor: pointer; /* make the text accessible to screen readers */
  position: absolute;
  -webkit-transition: background-color 0.7s ease;
  transition: background-color 0.7s ease;
}

.dotstyle li a:hover,
.dotstyle li a:focus,
.dotstyle li.current a {
  background-color: #fff;
}



/* CSS TO CENTER THE EXAMPLES */
.left .page {
  text-align: right;
  padding-right: 0%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.right .page {
  padding-left: 0%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


/* CSS FOR THE EXAMPLES */
.page-1{
  background-image: linear-gradient(34deg, #f7ed56, #005470);
}
/* SLIDE 1 */
